* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Roboto, sans-serif;
}

body > *, .container {
    width: 100%;
}

a {
    text-decoration: none;
}

a, .hero-content span {
    font-size: 18px;
    color: #E5E7EB;
}

ul {
    list-style: none;
}

header, footer {
    background-color: #1F2937;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 24px;
    padding-bottom: 24px;
}

.container, .hero, header, footer {
    padding: 0 128px;
}

.container:nth-of-type(2) {
    background-color: #E5E7EB;
    margin-top: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container:nth-of-type(3) {
    padding-top: 48px;
    padding-bottom: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 48px;
    font-weight: 900;
    color:#F9FAF8;
    margin-bottom: 12px;
}

.navbar ul {
    display: flex;
    justify-content: space-evenly;
    gap: 12px;
}

.header-logo {
    font-size: 24px;
    font-weight: bold;
    color: #F9FAF8;
    flex-shrink: 0;
    margin-right: 20px;
}

.hero {
    min-height: 100vh;
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 48px;
    padding-bottom: 48px;
}

.hero-content {
    min-width: 350px;
}

.hero-content button {
    display: block;
    background-color: #3882F6;
    color: #F9FAF8;
    font-size: 16px;
    padding: 4px 8px;
    border-radius: 12px;
    min-width: 150px;
    min-height: 36px;
    border: none;
    margin-top: 12px;
}

.hero-image {
    color: #F9FAF8;
    background-color: gray;
    max-width: 720px;
    max-height: 240px;
    min-width: 350px;
    width: 720px;
    height: 240px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#info {
    width: 100%;
    padding-top: 36px;
}

#info h2 {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    text-align: center;
}

.info-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 16px;
    margin-top: 36px;
}

.card {
    flex: auto;
    max-width: 250px;
    min-width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-image {
    border: 2px solid #3882F6;
    border-radius: 12px;
    width: 150px;
    height: 100px;
}

.card-text {
    text-align: center;
    max-width: 150px;
}

#quote {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    padding: 72px 0;
    max-width: 800px;
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}

#quote span {
    align-self: flex-end;
    font-weight: 900;
    font-size: 24px;
}

#cta {
    display: flex;
    justify-content: space-around;
    max-width: 1000px;
    width: 1000px;
    background-color: #3882F6;
    border-radius: 12px;
    padding: 36px;
    color: #F9FAF8;
}

.cta-button {
    background-color: #3882F6;
    border: 1px solid #F9FAF8;
    border-radius: 12px;
    color: #F9FAF8;
    flex-shrink: 0;
    height: 36px;
    width: 128px;
}